.container {
    background-color: #2b2d2f;
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
}

#pink-box {
    background-color: #ff69b4;
    bottom: 0;
    left: -20px;
    position: relative;
    right: 0;
    top: 0px;
}

#blue-box {
    background-color: #00eeee;
}
