/* Wave 1 / 12 */

.tower-group-1 {
    display: flex;
    justify-content: center;
}

/* Wave 2 / 12 */

.tower-group-1 {
    display: flex;
    justify-content: flex-end;
}

.tower-group-2 {
    display: flex;
    justify-content: center;
}

.tower-group-3 {
    display: flex;
    justify-content: flex-end;
}

/* Wave 3 / 12 */

.tower-group-1 {
    display: flex;
    justify-content: center;
}

.tower-group-2 {
    display: flex;
    justify-content: space-between;
}

/* Wave 4 / 12 */

.tower-group-1 {
    display: flex;
    align-items: flex-end;
}

.tower-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wave 5 / 12 */

.tower-group-1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.tower-group-2 {
    display: flex;
    justify-content: center;
}

.tower-group-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wave 6 / 12 */

.tower-group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Wave 7 / 12 */
