#pond {
    display: flex;
    justify-content: flex-end; /* #1 */
    justify-content: center; /* #2 */
    justify-content: space-around; /* #3 */
    justify-content: space-between; /* #4 */
    align-items: flex-end; /* #5 */
    justify-content: center; /* #6 */
    align-items: center;    /* #6 */
    justify-content: space-around; /* #7 */
    align-items: flex-end; /* #7 */
    flex-direction: row-reverse; /* #8 */
}
